@{
    ViewData["Title"] = "Anasayfa";
}
<br />
<div class="row">
    <div class="col-md-6">
<form method="POST" action="/Home/Login" autocomplete="off">
    <div class="from-group">
        <input type="email" class="from-control" name="Email" placeholder="Email">
    </div>
    <br />
    <div class="from-group">
        <input type="password" class="from-control" name="Password" placeholder="Şifre">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Giriş</button>
</form>
    </div>
</div>